---
layout: default
title: Events
---
<div class="container">
        <p>The creators of the Mission Pinball Framework as well as users who
        are building pinball machines love to get together to talk and play
        pinball. Here's a list of the upcoming events where we'll be.</p>
        <p>If you'll be at any of these events, drop us a line in the <a href=
        "https://groups.google.com/forum/#!forum/mpf-users">MPF Users Google
        Group</a> and let's meet up!</p>
        <h2>Future events we'll be attending</h2>
{% assign events_by_year = site.events | sort: 'year' | reverse | group_by: 'year' %}
{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
{% capture year %}{{'now' | date: '%Y' | plus: 0 %}}{% endcapture %}
{% for group in events_by_year %}
    {% capture group_year %}{{group.items[0].date | date: '%Y' | plus: 0 %}}{% endcapture %}
    {% if group_year >= year %}
        <b>{{ group_year }}</b>
        <ul>
        {% for event in group.items %}
            {% capture date %}{{event.date | date: '%s' | plus: 0 %}}{% endcapture %}
            {% if date > now %}
            <li><a href="{{ event.url | prepend: site.baseurl }}">{{ event.name }}</a>, {{ event.location }}, {{ event.city }}, {{ event.duration }}, {{ event.year }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

        <h2>Past events</h2>
{% for group in events_by_year %}
    {% capture group_year %}{{group.items[0].date | date: '%Y' | plus: 0 %}}{% endcapture %}
    {% if group_year <= year %}
        <b>{{ group_year }}</b>
        <ul>
        {% for event in group.items %}
            {% capture date %}{{event.date | date: '%s' | plus: 0 %}}{% endcapture %}
            {% if date <= now %}
            <li><a href="{{ event.url | prepend: site.baseurl }}">{{ event.name }}</a>, {{ event.location }}, {{ event.city }}, {{ event.duration }}, {{ event.year }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}


        <b>2016</b>
        <ul>
            <li>33th Chaos Communication Congress, Hamburg, Germany, Dec 27-30,
            2016. Talk: "Building Custom Pinball Machines"
            (<a href="https://media.ccc.de/v/33c3-8012-building_custom_pinball_machines">video</a>)</li>
            <li>Chicago Pinball Expo (in the FAST Pinball booth), Chicago, Oct
            12-16, 2016</li>
            <li>Southern Fried Gameroom Expo 2016, Atlanta</li>
            <li>Northwest Pinball and Arcade Show (in the FAST Pinball booth),
            Tacoma, Washington, June 3-5, 2016</li>
        </ul><b>2015</b>
        <ul>
            <li>32th Chaos Communication Congress, Hamburg, Germany, Dec 27-30,
            2015</li>
            <li>Mission Pinball / FAST Pinball Seattle-area meet-up, Nov 19,
            2015</li>
            <li>Chicago Pinball Expo (in the FAST Pinball booth), Oct 14-18,
            2015</li>
            <li>Chaos Communication Camp 2015, Zehdenick, Germany, August
            13-17, 2015</li>
            <li>California Extreme (in the FAST Pinball booth), Santa Clara,
            California, July 18-19, 2015</li>
            <li>Southern Fried Gameroom Expo (talk), Atlanta, June 19-21,
            2015</li>
            <li>Northwest Pinball Expo (in the FAST Pinball booth), Tacoma,
            Washington, June 5-7, 2015</li>
            <li>SoCal Arcade Expo (talk), Banning, California, Jan 16-18,
            2015</li>
        </ul><b>2014</b>
        <ul>
            <li>Mission Pinball meet-up at the Seattle Pinball Museum, Nov 12,
            2014</li>
            <li>Chicago Pinball Expo (in the P-ROC booth), Oct 15-19, 2014</li>
        </ul>
    </div>
