---
layout: default
title: Home
---
<div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>The <strong>Mission Pinball Framework</strong> (“MPF”) is
                a free Python-based pinball software framework that’s used to
                run real pinball machines. It allows both casual builders and
                hard-core programmers to create the software to run their pinball
                machines—whether it’s new game code for an existing pinball
                machine, a “re-theme” of an old machine, or totally custom pinball
                or any homebrew pinball machine built from scratch.</p>
                <p>MPF is cross-platform and runs on Windows, Mac, Linux, and
                the Raspberry Pi.</p><br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/config/">
                        Build your game with config files and/or code</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/config/">
                        <img alt="Image" class="img-responsive" src=
                        "images/config.png" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>95%+ of what you need to do to program a pinball
                        machine in MPF can be done with text-based configuration
                        files, so even if you have no prior programming
                        experience, you can still do it!</p>
                        <p><a href=
                        "https://docs.missionpinball.org/tutorial/">
                        Our step-by-step tutorial</a> walks you through the
                        whole process, from listing your switches, coils, and
                        lights, to building modes and scoring, and through
                        creating graphics and sounds.</p>
                        <p>If you're a programmer and you know Python, we have an
                        <a href=
                        "https://docs.missionpinball.org/api/">
                        API reference</a>, and it's really easy to <a href=
                        "https://docs.missionpinball.org/start/dsl_vs_programming.html">
                        mix-and-match custom code with the MPF config
                        files</a>. MPF provides two levels of abtraction:
                        hardware abstraction and device abstraction which both can be used in code.
                        Configs work on top of those abstractions and add logic blocks and config players.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/hardware/">
                        Hardware Independent</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/hardware/">
                        <img alt="Image" class="img-responsive" src=
                        "images/hardware.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>MPF supports many different pinball hardware
                        controllers, including hardware from:</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/opp">
                                Open Pinball Project</a> /
                                <a href=
                                "https://docs.missionpinball.org/hardware/opp/cobrapin/index.html">
                                Cobrapin</a>
                                which can control custom machines
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/apc/index.html">
                                Arduino Pinball Controller (APC)</a>
                                which can be used to drive System6 to System11c machines
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/lisy/index.html">
                                LISY 1 and LISY 80</a>
                                to control Gottlieb System 1 or System 80 machines
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/multimorphic">
                                Multimorphic P-ROC / P3-ROC</a>
                                to control WPC or custom machines
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/fast">
                                FAST Pinball</a>
                                modern and retro controllers.
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/spike/index.html">
                                Stern Spike 1 or Spike 2</a>
                                to control those machine directly
                            </li>
                            <li>
                                Your custom pinball platform. Use our interface to implement your protocol.
                            </li>
                        </ul>
                        <p>It also supports all sorts of
                            <a href="https://docs.missionpinball.org/hardware/index.html">other hardware</a>,
                            like the
                            <a href="https://docs.missionpinball.org/hardware/fadecandy/index.html">FadeCandy LED controllers</a>,
                            SmartMatrix RGB DMDs,
                            <a href="https://docs.missionpinball.org/hardware/pololu_maestro/index.html">Pololu Servo Controllers</a>,
                            <a href="https://docs.missionpinball.org/hardware/pololu_tic/index.html">Pololu stepper controller</a>
                            and more.
                        </p>
                        <p>MPF is written in a hardware-independent way, so we
                        can easily add support for new hardware as it comes out.
                        You can even swap between different kinds of hardware
                        after your game is done!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/machines/">
                        Multiple eras of machines</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/machines/">
                        <img alt="Image" class="img-responsive" src=
                        "images/eras.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p><a href=
                        "https://docs.missionpinball.org/machines/homebrew.html">
                        You can use MPF with modern pinball control hardware to
                        build your own custom "home brew" pinball machine from
                        scratch.</a></p>
                        <p>The previously mentioned pinball hardware controllers can be
                        swapped into existing machines (or in case of Stern SPIKE reprogrammed)
                        in just a few minutes to completely
                        remove the original code and control them via MPF,
                        including:</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/hardware/existing_machines/wpc.html">
                                Williams / Bally / Midway WPC</a>
                            </li>
                            <li><a href="https://docs.missionpinball.org/hardware/existing_machines/gottlieb_system3_to_7.html">Williams System 3</a> to <a href="https://docs.missionpinball.org/hardware/existing_machines/system11.html">11</a></li>
                            <li><a href="https://docs.missionpinball.org/hardware/existing_machines/data_east.html">Data East</a></li>
                            <li><a href="https://docs.missionpinball.org/hardware/existing_machines/whitestar.html">Stern Whitestar</a>, <a href="https://docs.missionpinball.org/hardware/existing_machines/sam.html">SAM</a>, &amp; <a href="https://docs.missionpinball.org/hardware/existing_machines/spike.html">SPIKE</a></li>
                            <li><a href="https://docs.missionpinball.org/hardware/existing_machines/gottlieb_system1.html">Gottlieb System 1</a> and <a href="https://docs.missionpinball.org/hardware/existing_machines/gottlieb_system80.html">80</a></li>
                            <li>Your custom pinball machine</li>
                        </ul>You can also use MPF with any existing machine if
                        you want to <a href=
                        "https://www.youtube.com/watch?v=M6EW2M_KtLg">redo the
                        wiring.</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/mechs/">
                        Pinball Mechs</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/mechs/">
                        <img alt="Image" class="img-responsive" src=
                        "images/mechs.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>MPF includes built-in support for just about every
                        kind of pinball mechanism, including:</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/switches">
                                Switches</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/coils">
                                Coils</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/lights">
                                Lights</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/leds">
                                RGB LEDs</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/flippers">
                                Flippers</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/accelerometers">
                                Accelerometers</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/troughs">
                                Troughs</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/plungers">
                                Plungers & ball launch devices</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/ball_devices">
                                VUKs, ball locks, ball capture devices</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/targets">
                                Targets (drop targets, standups, kicking targets)</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/gis">
                                GI</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/flashers">
                                Flashers</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/loops">
                                Loops/orbits/ramps</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/kickbacks">
                                Kickback lanes</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/magnets">
                                Magnets</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/motors">
                                Motors</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/playfields">
                                Multiple playfields</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/pop_bumpers">
                                Pop bumpers</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/score_reels">
                                Mechanical score reels</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/servos">
                                Servos</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/slingshots">
                                Slingshots</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/mechs/spinners">
                                Spinners</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/game_logic/">
                        Game Logic</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/game_logic/">
                        <img alt="Image" class="img-responsive" src=
                        "images/game_logic.png" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>You can use MPF's config files to implement complex
                        game features &amp; logic, including:</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/players">
                                Player management</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/modes/">
                                Game modes & mode stacking</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/ball_locks">
                                Ball locks</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/ball_saves">
                                Ball saves</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/ball_search">
                                Ball search</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/ball_tracking">
                                Ball tracking</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/extra_balls">
                                Extra balls</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/multiballs">
                                Multiballs</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/timers">
                                Timers</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/shots">
                                Shots & shot groups</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/combo_switches">
                                Combo switches (flipper cancel, super skill shot, etc.)</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/end_of_ball_bonus">
                                End of ball bonus</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/video_modes">
                                Video modes</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/achievements">
                                Player achievements</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/high_scores">
                                High scores</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/tilt">
                                Tilt</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/game_logic/credits">
                                Coins & credits</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/shows/">
                                Synchronized shows of lights, sounds, &
                                animations</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/displays/">
                        Display, DMDs, &amp; Graphics</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/displays/">
                        <img alt="Image" class="img-responsive" src=
                        "images/graphics.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>MPF includes a powerful media controller based on
                        <a href="https://kivy.org">Kivy</a> to control graphics
                        and sound. It leverages hardware GPU acceleration and
                        OpenGL to provide a modern, smooth environment, with
                        support for:</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/display/physical_mono_dmd.html">
                                Mono 128x32 dot matrix displays (DMDs)</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/display/physical_rgb_dmd.html">
                                RGB LED "Smart Matrix" displays</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/display/lcd.html">
                                LCDs &amp; on-screen displays</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/display/adding_dot_look_to_lcd.html">
                                Virtual "color" DMDs</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/widgets/widget/video.html">
                                Video</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/widgets/widget/image.html">
                                Images</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/displays/widgets/animate_widgets.html">
                                Animations &amp; motion</a>
                            </li>
                        </ul>
                        <p>MPF also supports dynamically updating text, multi-language strings, and everything
                        else you need to create a professional-looking machine.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/sound/">
                        Sounds & Audio</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/sound/">
                        <img alt="Image" class="img-responsive" src=
                        "images/sound.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>MPF includes a custom-built audio library built on
                        SDL2 and GStreamer which was designed for pinball
                        environments.</p>
                        <ul>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/sound/">
                                Multi-track audio</a>
                            </li>
                            <li>Track-based volume and sound control</li>
                            <li>Sound queue, sound expiration, and sound priorities</li>
                            <li>Brickwall limiting</li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/config/sounds.html">
                                Fade in / fade out</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/config/sounds.html">
                                Instance limiting</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/sound/ducking.html">
                                Ducking</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/config/sounds.html">
                                Attenuation</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/sound/variations.html">
                                Sound variation</a>
                            </li>
                            <li>
                                <a href=
                                "https://docs.missionpinball.org/sound/tracks.html">Event-driven live looping
                                    audio tracks with synchonized sound layers</a>
                            </li>
                            <li>Playlists</li>
                            <li>Stream sound files from disk, or load into memory</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://docs.missionpinball.org/about/license.html">
                        Completely free &amp; open source</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://docs.missionpinball.org/about/license.html">
                        <img alt="Image" class="img-responsive" src=
                        "images/free.png" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>MPF is released under the “MIT” license which is
                        extremely permissive. You can do just about anything
                        you want with it. Use it. Copy it. Modify it. Merge,
                        publish, distribute, sublicense and/or sell it. If you
                        make a commercial pinball machine based on MPF, you do
                        not have to pay us anything, and you do not have to
                        release your machine’s source code if you don’t want
                        to.</p>
                        <p>We don’t &quot;own&quot; MPF any more than you do.
                        So go nuts. Rip us off. Take the code. Make it yours.
                        Don’t give us credit… It’s all good! Seriously. We’re
                        just putting the code out there which will hopefully
                        lead to more pinball in the world!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="https://docs.missionpinball.org">Plenty of
                        documentation</a>
                    </div>
                    <div class="panel-body">
                        <a href="https://docs.missionpinball.org"><img alt=
                        "Image" class="img-responsive" src="images/docs.jpg"
                        style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p><a href=
                        "https://pinside.com/pinball/forum/search?s=1&q=&quot;pinball+is+hard&quot;#results">
                        &quot;Pinball is hard&quot;</a> (as they say on
                        <a href="https://pinside.com/pinball/forum/">Pinside</a>),
                        and to help you create your machine with MPF, we've
                        written hundreds of pages of detailed documentation,
                        tutorials, how to guides, instruction, and reference
                        material.</p>
                        <p>Our documentation is hosted by <a href=
                        "https://readthedocs.org/">Read the Docs</a> at
                        <a href="https://docs.missionpinball.org">docs.missionpinball.org</a></p>
                        <p>You can even download documentation in <a href=
                        "https://readthedocs.org/projects/mpf/downloads/pdf/latest/">
                        PDF</a>, <a href=
                        "https://readthedocs.org/projects/mpf/downloads/epub/latest/">
                        Epub</a>, and <a href=
                        "https://readthedocs.org/projects/mpf/downloads/htmlzip/latest/">
                        HTML Zip</a> archive formats.</p>

                        <iframe width="230" height="130" src="https://www.youtube.com/embed/WA-9Jp0A_TU"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://groups.google.com/forum/#!forum/mpf-users">Active
                        support forum</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://groups.google.com/forum/#!forum/mpf-users"><img alt="Image"
                        class="img-responsive" src="images/forum.jpg" style=
                        "width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p><a href=
                        "https://groups.google.com/forum/#!forum/mpf-users">The
                        MPF Users Google Group</a> is very active and full
                        of pinball-loving people using MPF and helping each
                        other.</p>
                        <p><a href=
                        "https://groups.google.com/forum/#!forum/mpf-users">Check
                        it out</a> and tell everyone about the cool project you
                        want to build!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href=
                        "https://github.com/missionpinball/mpf/commits/dev">Actively
                        developed & updated often</a>
                    </div>
                    <div class="panel-body">
                        <a href=
                        "https://github.com/missionpinball/mpf/commits/dev"><img alt="Image"
                        class="img-responsive" src=
                        "images/active_development.jpg" style="width:100%"></a>
                    </div>
                    <div class="panel-footer">
                        <p>The people working on MPF are passionate about the
                        project. We average dozens of code check-ins per week,
                        and so far we've spent over 5,000 hours working on
                        MPF.</p>
                        <p>We put our money where our mouths are:</p><a href=
                        'https://coveralls.io/github/missionpinball/'><img class="center-block" alt=
                        'Coverage Status' src=
                        'https://coveralls.io/repos/github/missionpinball/mpf/badge.svg?branch=dev'></a>
                        <p class="small text-center">Automated Testing Coverage</p><a href=
                        'https://travis-ci.org/missionpinball/'><img class="center-block" alt=
                        'Test Status' src=
                        'https://travis-ci.org/missionpinball/mpf.svg?branch=dev'></a>
                        <p class="small text-center">Build Status</p>
                        <p>Our goal is that you can use MPF to run a commercial-grade professional
                        machine in revenue service in a public location.</p>
                        <p>Want to help make the pinball world a better place?
                        <a href=
                        "https://docs.missionpinball.org/about/contributing_to_mpf.html">
                        Join us!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/blog.html">Recent updates</a>
                    </div>
                    <div class="panel-footer">
                        <p>
                            {% for post in site.posts limit: 3 %}
                                <a href="{{ post.url }}">{{ post.title }}</a> {{ post.excerpt }}
                            {% endfor %}
                        </p>
                        See <a href="/blog.html">more blog posts</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/projects.html">Recently Started Projects</a>
                    </div>
                    <div class="panel-footer">
                        <ul>
                        {% assign projects_by_start = site.projects | sort: 'started' | reverse %}
                        {% for project in projects_by_start limit: 8 %}
                            {% unless project.finished %}
                                <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}
                                {% if project.acronym %}
                                    ({{ project.acronym }})
                                {% endif %}
                                </a> by {{ project.team }} (started: {{ project.started | date_to_string }})</li>
                            {% endunless %}
                        {% endfor %}
                        </ul>
                        See <a href="/projects.html">more projects</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/projects.html">Finished Projects</a>
                    </div>
                    <div class="panel-footer">
                        <ul>
                        {% assign projects_by_finish = site.projects | sort: 'finished' | reverse | slice:0,5 %}
                        {% for project in projects_by_finish %}
                            {% if project.finished %}
                                <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}
                                {% if project.acronym %}
                                    ({{ project.acronym }})
                                {% endif %}
                                </a> by {{ project.team }} (started: {{ project.started | date_to_string }} finished: {{ project.finished | date_to_string }})</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        See <a href="/projects.html">more projects</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/events.html">Events</a>
                    </div>
                    <div class="panel-footer">
                        <ul>
                        {% assign sorted_event = site.events | sort: 'date' | reverse | slice:0,5 | reverse %}
                        {% for event in sorted_event %}
                            <li><a href="{{ event.url | prepend: site.baseurl }}">{{ event.name }}</a>, {{ event.location }}, {{ event.city }}, {{ event.duration }}, {{ event.year }}</li>
                        {% endfor %}
                        </ul>
                        See <a href="/events.html">more events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center">
                <p>We're just scratching the surface. <a href=
                "https://docs.missionpinball.org">Dig into the documentation to
                continue.</a></p><br>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-success center-block" href=
                "https://docs.missionpinball.org/tutorial/"
                role="button">Start the Tutorial</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-info center-block" href=
                "https://groups.google.com/forum/#!forum/mpf-users" role=
                "button">Ask a Question</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-info center-block" href=
                "https://docs.missionpinball.org/" role="button">Read the
                Docs</a>
            </div>
        </div>
    </div>
