---
layout: default
title: Projects
---
<div class="container">
    <h1>MPF Projects</h1>
    <p>A curated list of pinball machines running MPF. Most of those are in progress.</p>
    <p>If you are building a machine with MPF let us know in the <a href=
    "https://groups.google.com/forum/#!forum/mpf-users">MPF Users Google
    Group</a> and we will list it here.</p>
    <h2>Active projects</h2>
    <ul>
{% assign projects_by_start = site.projects | sort: 'started' | reverse %}
{% for project in projects_by_start %}
    {% unless project.finished %}
        <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}
        {% if project.acronym %}
            ({{ project.acronym }})
        {% endif %}
        </a> by {{ project.team }} (started: {{ project.started | date_to_string }})</li>
    {% endunless %}
{% endfor %}
    </ul>
    <h2>Finished projects</h2>
    <ul>
{% assign projects_by_finish = site.projects | sort: 'finished' | reverse %}
{% for project in projects_by_finish %}
    {% if project.finished %}
        <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}
        {% if project.acronym %}
            ({{ project.acronym }})
        {% endif %}
        </a> by {{ project.team }} (started: {{ project.started | date_to_string }} finished: {{ project.finished | date_to_string }})</li>
    {% endif %}
{% endfor %}
        </ul>

    <h2>Hardware platforms in Use</h2>
{% assign platforms = site.hardware_platforms | sort: 'name' %}
    <ul>
{% for platform in platforms %}
        <li><a href="{{ platform.url | prepend: site.baseurl }}">{{ platform.label }}</a></li>
{% endfor %}
    </ul>

</div>
